h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.target-items {
  display: flex;
  justify-content: space-around;
}
.target-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: white;
}
.target-image {
  max-width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.target-image:hover {
  transform: scale(1.03);
  transition: .3s ease;
}
img {
  width: 100%;
}
.target-display {
  display: flex;
  justify-content: center;
  align-items: center ;
  margin: 40px 0;
}
#rubbish-btn {
  padding: 10px;
}
#rubbish-area {
  color: white;
  margin: 0 40px;
  padding: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}
